[Unit]
Description=Counter Strike Dedicated Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/home/ubuntu/start_cs.sh

[Install]
WantedBy=multi-user.target
