[/Script/Pavlov.DedicatedServer]
bEnabled=true
ServerName="{{ server_hostname }}"
MaxPlayers=10
bSecured=true
bCustomServer=true 
bWhitelist=false 
RefreshListTime=120 
LimitedAmmoType=0 
TickRate=90
TimeLimit=60
Password={{ sv_password }}
# SND: Search and Destroy
# TDM: Team Deathmatch
# DM: Deathmatch
# TTT: Trouble in Terrorist Town
# GUN: Gun Game
MapRotation=(MapId="datacenter", GameMode="SND")
MapRotation=(MapId="sand", GameMode="DM")
MapRotation=(MapId="bridge", GameMode="GUN")
MapRotation=(MapId="Containeryard", GameMode="SND")
MapRotation=(MapId="prisonbreak", GameMode="DM")
MapRotation=(MapId="hospital", GameMode="GUN")
MapRotation=(MapId="killhouse", GameMode="SND")
MapRotation=(MapId="range", GameMode="DM")
MapRotation=(MapId="tutorial", GameMode="GUN")
MapRotation=(MapId="stalingrad", GameMode="SND")
MapRotation=(MapId="santorini", GameMode="DM")
