#!/bin/bash
#########################################
# Best Practice would be to run this command in a screen
# As to have access to the console you cannot run this command
# using systemctl
#########################################
/home/ubuntu/.steam/steamcmd/cs/srcds_run -game csgo \
-console \
-usercon \
+game_type 0 \
+game_mode 0 \
+mapgroup mg_bomb \
+map de_dust \
+sv_setsteamaccount {{ api_key }} \
+sv_password {{ sv_password }} \
-net_port_try 1
