#!/bin/bash

DATE=$(date)
echo "${DATE}: Starting cscz" >> /tmp/csgo.log
cd /home/ubuntu/.steam/steamcmd/cs/
./srcds_run -game csgo -console -usercon +game_type 0 +game_mode 0 +mapgroup mg_bomb +map de_dust +sv_setsteamaccount {{ api_key }} -net_port_try 1
echo "${DATE}: Shutting down cscz" >> /tmp/csgo.log